{% extends "./common/parent.html" %}

{% if isAuth %}
  {% set topicNameClass = "col s8" %}
{% else %}
  {% set topicNameClass = "col s12" %}
{% endif %}

{% block content %}
  {% for topic in topics %}
  <div class="section">
    <div class="row">
      <div class="{{ topicNameClass }}">
        <h5><a href="/topics/{{topic._id}}">{{topic.name}}</a></h5>
      </div>
      {% if isAuth %}
      <div class="col s4">
        <!-- <a class="waves-effect waves-light btn">Edit</a> -->
        <button class="btn waves-effect waves-light" type="submit" name="action">Edit</button>
        <a class="waves-effect waves-light btn" href="/topics/delete/{{topic._id}}">Remove</a>
      </div>
      {% endif %}
      <div class="col s12">
        <p class="topicFullText">{{topic.fullText}}</p>
      </div>
      <div class="divider"></div>
    </div>
  </div>
  {% endfor %}
{% endblock %}