.tagsSelector {
    display: block;
    margin: 0 15px 5px 15px;
    overflow: hidden;
}

.tagSearchContainer {
    display: flex;
}

.tagSearchText {
    width: 95%;
}

.tagsSelectorList {
    margin-bottom: 5px;
}

.selectableOption {
    cursor: pointer;
}

.tagsSelector select {
    display: block;
    height: 150px;
}