.tagsSelector {
    margin: 15px;
    height: 38px;
}

.tagsSelector input[type=text]:not(.browser-default) {
    height: 22px;
}

.tagsSelectorView {
    display: block;
    margin: 0 15px 5px 15px;
    overflow: hidden;
}