<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My worst blog</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="/" class="brand-logo left">My worst blog</a>
            <ul id="nav-mobile" class="right">
              {% if isAuth %}
                <li><a href="/topics">Add new post</a></li>
                <li><a href="/auth/logOut">Log out</a></li>
              {% else %}
                <!-- <li><a href="/auth/signUp">Registration</a></li> todo fix registration then uncomment --> 
                <li><a href="/auth/signIn">Log in</a></li>
              {% endif %}
            </ul>
          </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="teal lighten-2 page-footer"><div class="footer-copyright">
        <div class="container">
        © 2020 Ruzil
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>