:root {
    --main-color: #4db6ac;
    --text-color-on-main-color: white;

    --header-height: 65px;
    --logo-height: 40px;
    --logo-width: 251px;

    --footer-height: 48px;

    --pagination-panel-height: 30px;
}

body {
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    align-items: flex-start;
    height: var(--header-height);
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding-left: 10px;
    width: var(--logo-width);
    font-size: var(--logo-height);
    color: var(--text-color-on-main-color);
    align-items: center;
    margin: 0;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.menu li {
    padding-right: 15px;
}

.menu li a {
    color: var(--text-color-on-main-color);
}

footer {
    align-items: flex-end;
    height: var(--footer-height);
    background-color: var(--main-color);
}

.footerCopyright {
    padding-top: calc(var(--footer-height) / 3);
    padding-left: calc(var(--footer-height) / 3);;
    font-size: calc(var(--footer-height) / 3);
    color: var(--text-color-on-main-color);
    height: 100%;
    width: 100%;
}

.mainContainer {
    min-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    max-height: calc(100vh - 115px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topicsAndTagsContainer {
    min-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    max-height: calc(100vh - 115px);
    display: flex;
}

.topicWithPaginationContainer {
    border-right: 1px solid #e0e0e0;
    overflow: auto;
    width: 85%;
}

.topicWithPaginationContainer::-webkit-scrollbar {
    width: 0;
}

.mainTopics {
    height: calc(100% - var(--pagination-panel-height));
    overflow: auto;
    align-items: flex-start;
}

.topicList {
    width: 85%;
    border-right: 1px solid #e0e0e0;
}

.tagList {

    width: 15%;
    height: 100%;
}

.paginationPanel {
    align-items: flex-end;
    height: var(--pagination-panel-height);
}

.pagination {
    height: var(--pagination-panel-height);
    margin: 0;
}

.pagination li, .pagination a, .pagination i {
    height: var(--pagination-panel-height);
    font-size: calc(var(--pagination-panel-height) / 3) !important;
    cursor: pointer;
}

p.topicFullText {
    overflow: hidden;
    word-wrap: break-word;
}

.topicControlButton {
    padding-top: 10px !important;
}

.topicControlButton button:first-child {
    margin-right: 5px;
}

.topicArea {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.topicField {
    display: flex;
    margin-bottom: 15px;
}

.fieldText {
    font-size: 20px;
    width: 80px;
}

.topicTextArea {
    height: 200px;
}

.popupcontainer {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    z-index: 98;
}

.popup {
    position:fixed;
    top:15%;
    left: 27%;
    z-index: 99;
    opacity: 1;
}

.popupcontent {
    min-width: 350px;
}

.popupcontent a {
    cursor: pointer;
}

.divider {
    width: 100%;
}

.tagsSelector {
    display: block;
    height: 290px;
    margin-bottom: 25px;
}

.tagsSelector select {
    display: block;
    height: 150px;
}

.selectedTagsList {
    display: flex;
}

.selectedTagsList div {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    background: indianred;
}