:root {
    --main-color: #4db6ac;
    --text-color-on-main-color: white;

    --header-height: 65px;
    --footer-height: 48px;

    --pagination-panel-height: 30px;
}

@media only screen
and (max-width:480px)  {
    :root {
        --header-height: 40px;
        --footer-height: 28px;
    }
}

/* todo убрать после выпила materialize css */
.markdown-body [type="checkbox"]:not(:checked),
.markdown-body [type="checkbox"]:checked {
    position: inherit;
    opacity: 1;
    pointer-events: none;
}

.markdown-body ul {
    list-style-type: disc;
}

.markdown-body ul:not(.browser-default)>li {
    list-style-type: disc;
}

.markdown-body ul:not(.browser-default) {
    list-style-type: disc;
}

.markdown-body ul:not(.browser-default)>li.task-list-item {
    list-style-type: none;
}

/* todo end */

body {
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    align-items: flex-end;
    height: var(--footer-height);
    background-color: var(--main-color);
}

.footerCopyright {
    padding-top: calc(var(--footer-height) / 3);
    padding-left: calc(var(--footer-height) / 3);;
    font-size: calc(var(--footer-height) / 3);
    color: var(--text-color-on-main-color);
    height: 100%;
    width: 100%;
}

.mainContainer {
    min-height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
    max-height: calc(100vh - 115px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topicList {
    width: 85%;
    border-right: 1px solid #e0e0e0;
}

.tagList {

    width: 15%;
    height: 100%;
}

.pagination {
    height: var(--pagination-panel-height);
    margin: 0;
}

.pagination li, .pagination a, .pagination i {
    height: var(--pagination-panel-height);
    font-size: calc(var(--pagination-panel-height) / 3) !important;
    cursor: pointer;
}

.popupcontainer {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    z-index: 98;
}

.popup {
    position:fixed;
    top:15%;
    left: 27%;
    z-index: 99;
    opacity: 1;
}

.popupcontent {
    min-width: 350px;
}

.popupcontent a {
    cursor: pointer;
}

.selectedTagsList {
    display: flex;
}

.selectedTagsList div {
    margin: 0 5px 5px 0;
    padding: 5px;
    cursor: pointer;
    background: #b2dfdb;
    line-height: 1;
}

.tagSearchTitle {
    width: 5%;
}